.pseudo,
.clear:before,
.clear:after {
  content: " ";
  font-size: 0;
  display: block;
}
.clear:before,
.clear:after {
  clear: both;
}
.pseudo,
.clear:before,
.clear:after {
  content: " ";
  font-size: 0;
  display: block;
}
.clear:before,
.clear:after {
  clear: both;
}
#pilgrim-itelios {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  display: none;
  min-width: 200px;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#pilgrim-itelios .task__title {
  color: #0e7da9;
}
#pilgrim-itelios .day__title {
  color: #8dd400;
  margin: 1rem 0 0.5rem 0;
}
#pilgrim-itelios .task__item {
  color: #d44c4d;
}
